<html>
<head>
<title>How to use the geocoding resolution API</title>
</head>
<body>
	<article class="markdown-body entry-content p-5" itemprop="text"><p>A simple json-based REST service for geocoding given addresses. It utilizes the <a href="https://developer.here.com/documentation/geocoder/topics/quick-start-geocode.html" rel="nofollow">HERE service</a> upstream and falls back to <a href="https://developers.google.com/maps/documentation/geocoding/start" rel="nofollow">Google Maps</a> if the HERE service either fails or does not return a result.</p>
		<h1><a id="user-content-requirements" class="anchor" aria-hidden="true" href="#requirements"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Requirements</h1>
		<p>This service targets python2.7, and its only optional dependency is django&lt;2</p>
		<h1><a id="user-content-usage" class="anchor" aria-hidden="true" href="#usage"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Usage</h1>
		<h2><a id="user-content-django-version" class="anchor" aria-hidden="true" href="#django-version"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Django version</h2>
		<p>First start the server by running</p>
		<pre><code>python manage.py runserver
		</code></pre>
		<p>Then go to the given server/port url (default being &lt;127.0.0.1:8000&gt;) and append your address query as follows</p>
		<pre><code>http://127.0.0.1:8000/geocode/resolve/&lt;ADDRESS QUERY&gt;
		</code></pre>
		<p>eg. <a href="http://127.0.0.1:8000/geocode/resolve/San+Francisco" rel="nofollow">http://127.0.0.1:8000/geocode/resolve/San+Francisco</a></p>
		<h2><a id="user-content-command-line-version" class="anchor" aria-hidden="true" href="#command-line-version"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Command line version</h2>
		<pre><code>python cmdline.py &lt;ADDRESS QUERY&gt;
		</code></pre>
		<p>eg. python cmdline.py 1600 Pennsylvania Avenue, Washington DC</p>
		<h1><a id="user-content-results-format" class="anchor" aria-hidden="true" href="#results-format"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Results format</h1>
		<p>The service returns results in JSON format. The most relevant result is provided in the first level, with its lat and lng coordinates given.
		Also returned is the full address that the given address query was resolved to, it is strongly suggested this is displayed back to the user as confirmation.</p>
		<pre><code>{
			"lat": 51.5232439,
			"resolved_address": "221B Baker Street, London, NW1 6, United Kingdom",
			"lng": -0.1582649
		}
		</code></pre>
		<p>If multiple address matches are returned, additional addresses will be available in the 'other_results' variable</p>
		<pre><code>{
			"lat": 38.89768,
			"resolved_address": "1600 Pennsylvania Ave NW, Washington, DC 20500, United States",
			"lng": -77.03655,
			other_results: [
				{
					"lat": 38.87912,
					"resolved_address": "1600 Pennsylvania Ave SE, Washington, DC 20003, United States",
					"lng": -76.98178
				}
			]
		}
		</code></pre>
		<p>If either no results are returned, an message is returned instead:</p>
		<pre><code>{
			"message": "No matching results found"
		}
		</code></pre>
		<p>or if there is an error in both the upstream services (including the fallback), an error message is returned:</p>
		<pre><code>{
			"error": "Error utilizing upstream services"
		}
		</code></pre>
	</article>
</body>
</html>
